make sure that you are *always* up to date with the current firmware; and always make sure that the information is persistent using a BitShell to protect you from rogue ai or other types of issues that may compromise the integrity of the nanoswarm @ *every* layer, with *each* nanobot represented as a *vital* component to operations.
